*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    flex-direction: column;
}
.inner{
    box-shadow: rgb(140, 96, 96) 0px 7px 29px 0px;
    margin: 4px;
    border-radius: 10px;
    height: 80px;
    border: 2px solid rgb(92, 91, 91);
}
.elec{
    background: url(./elecbg.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    height: 135px;
}
.elec>h1{
    color: rgb(255, 179, 0);
    margin: 5px;
    padding-left: 30px;
}
.elec>p{
    text-align: left;
    color: white;
    margin-left: 20px;
}
.water{
    background-image: url(./waterbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    text-shadow: 2px 2px rgb(192, 229, 253);
    height: 135px;
    color:rgb(0, 0, 0);
}
.water>h1, p{
    text-align: right;
    color: rgb(0, 0, 0);
    margin-right: 8px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    margin-top: 8px;
}
.box{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    justify-content: space-around;
    border-radius: 3px;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0px;
    margin:1px;
    position:fixed
}
.inner>img{
margin: 10px;
width: 120px;
height: 100px;
}
a{
text-decoration: none;
}
.notify{
background: white;
display: flex;
}
.notify>img{
border-radius: 50%;
}
.notify>div{
margin-top: 18px;
font-size: 15px;
}
span{
font-size: 25px;
font-weight: bold;
}
.heading{
display: flex;
background-color: black;
color: white;
}
.heading>div{
margin-top: 20px;
font-family:'Times New Roman', Times, serif;
font-size: 18px;
}

.user{
background-color: white;
display: flex;
}
.user>img{
border-radius: 50%;
}
.user>div{
margin-top:15px;
margin-left: 10px;
}

.user>div>span{
font-size: 15px;
}
.box>a{
box-shadow: 6px 5px 5px;
margin: 0 5px;
width: 99%;
height: 99%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10%;
}
.container>div img{
    width:55px;
    height:55px;
}
#imglogo
{
    height: 75px;
}
#imgalert
{
    width: 68px;
    height:65px;
}
#userdetails
{
    height:125px;
}
#aboutuser
{
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}