* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* background: #d5e1ebad; */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(255 255 255) 0%, rgb(222 159 0) 100.2% );
    /* background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #eef2f3, #8e9eab); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.one {
    height: 60px;
    width: 90%;
    padding: 10px 10px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    background: url('./images/reading.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}
.one>div{
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    color: red;
}

.two {
    height: auto;
    width: 90%;
    padding: 28px 10px;
    border-radius: 5px;
    /* background-color: #a9f1f1; */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

}

.two img {
    height: 100%;
    width: 100%;
}

.two a,
.one a , .four a{
    color: black;
    text-decoration: none;
}

.three {
    height: auto;
    width: 90%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 1) 0px 7px 29px 0px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;

}

.three h3,h3 {
    background-color: rgb(238 223 94);
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    border-radius: 5px;

}

.sug {
    margin: 5px;
    font-size: 15px;
}
.four {
    height: auto;
    width: 90%;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 25px;
    text-align: center;
}
.box{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    justify-content: space-around;
    border-radius: 3px;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0px;
    margin:1px;
}
/* .box{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:60px;
    
} */

.box>a{
    box-shadow: 6px 5px 5px;
    margin: 0 5px;
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}